{
    "db": {
        "user": "",
        "password": "",
        "name": "",
        "host": "",
        "port": ""
    },
    "jwt": {
        "secret": ""
    },
    "rsa-key": {
        "public": "",
        "secret": ""
    }
}